<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<ul class="nav menu">
		<!--占位-->
		<li role="presentation" class="divider"></li>
		<li id="current_li"><a href="../views/current.jsp"><span
				class="glyphicon glyphicon-dashboard"></span> 今日情况</a>
		</li>
		<!--占位-->
		<li role="presentation" class="divider"></li>
		<li id="history_li"><a href="../views/history.jsp"><span
				class="glyphicon glyphicon-stats"></span> 历史日志</a>
		</li>
		<!--占位-->
		<li role="presentation" class="divider"></li>
		<!-- 下拉 -->
		<li id="customeried_select_li"><a href="integrated.html"><span
				class="glyphicon glyphicon-stats"></span> 历史日志</a>
		</li>

		<!--占位-->
		<li role="presentation" class="divider"></li>
		<li id="cluster_status_li"><a
			href="../views/cluster_status.jsp"><span
				class="glyphicon glyphicon-list-alt"></span> 集群状态</a></li>
	</ul>
</div>
<!--/.sidebar-->
