<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <!--占位-->
        <li role="presentation" class="divider"></li>
        <li id="sidebar_select_li_usual"><a href="faq_usual.html"><span
                class="glyphicon glyphicon-stats"></span> 问题库</a>
        </li>
        <!--占位-->
        <li role="presentation" class="divider"></li>
        <li id="current_li"><a href="current.html"><span
                class="glyphicon glyphicon-dashboard"></span> 今日情况</a>
        </li>
        <!--占位-->
        <li role="presentation" class="divider"></li>
        <li id="history_li"><a href="history.html"><span
                class="glyphicon glyphicon-stats"></span> 历史日志</a>
        </li>

        <!--占位-->
        <li role="presentation" class="divider"></li>
    </ul>
</div>
<!--/.sidebar-->
