<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>荟萃日志分析--综合分析</title>

    <link href="../resources/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/bootstrap-table.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/styles.css"
          rel="stylesheet">
</head>

<body>

<div id="common_navbar_page"></div>
<div id="common_sidebar_page"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"
     id="location_useragent">
    <!--   <div class="row">
           <ol class="breadcrumb">
               <li><a href="#"><span class="glyphicon glyphicon-home"></span>
               </a></li>
               <li class="active">问题库</li>
           </ol>
       </div>
    -->

    <!-- 不同的地理位置浏览器使用情况 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="alert bg-primary" role="alert">
                        <span class="glyphicon glyphicon-check"></span> 已确认答案的问题
                    </div>
                </div>
                <div class="panel-body">
                    <table id="table_faq_usual" data-show-refresh="true"
                           data-show-toggle="true" data-show-columns="true"
                           data-search="true" data-pagination="true"
                           data-sort-order="desc">
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/.main-->

<div class="modal fade" id="modal_faq_detail" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- &times;表示x号 -->
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <div class="panel-heading bg-primary">
                    <span class="glyphicon glyphicon-dashboard"></span>问题详情
                </div>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-body ">

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="faq_usual_id" class="col-sm-2 control-label">编号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="faq_usual_id" placeholder="ID" value="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="faq_usual_question" class="col-sm-2 control-label">问题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="faq_usual_question" placeholder="问题" value="怎么更改花呗手机号码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="faq_usual_answer" class="col-sm-2 control-label">答案</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="faq_usual_answer" placeholder="请输入答案" >
                                        花呗是没有单独绑定手机的，需要更换的是支付宝账户的手机号码。更换手机号码方法题主可以参考一下：登录到您的支付宝-我的-设置-手机号，这个页面申请修改。
                                    </textarea>
                                </div>
                            </div>
                            <!--
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox">请记住我
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                            -->
                            <!--
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <button type="submit" class="btn btn-default">登录</button>
                                                            </div>
                                                        </div>
                            -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="month-access-select-button" data-dismiss="modal">
                    提交选择
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>


<script src="../resources/js/jquery-1.11.1.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap-table.js"></script>

<script
        src="../resources/tables/load_faq_usual.js"></script>

<script>
    $(window).on('resize', function () {
        if ($(window).width() > 768)
            $('#sidebar-collapse').collapse('show')
        if ($(window).width() <= 767)
            $('#sidebar-collapse').collapse('hide')
    })
</script>

<script>
    $(function () {
        // 加载导航栏
        $("#common_navbar_page").load("common_navbar.html");
        // 加载侧边栏
        $("#common_sidebar_page").load("common_sidebar.html", function () {
            // 加载完了之后使当前项选中
            $("#sidebar_select_li_usual").addClass('active');
        });
        load_faq_usual_data()
    });
</script>
</body>
</html>
