<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>荟萃日志分析--综合分析</title>

    <link href="../resources/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/datepicker3.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/bootstrap-table.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/styles.css"
          rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="common_navbar_page"></div>
<div id="common_sidebar_page"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"
     id="location_useragent">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span>
            </a></li>
            <li class="active">地理位置综合分析</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">地理位置综合分析</h1>
        </div>
    </div>
    <!--/.row-->

    <!-- 不同的地理位置浏览器使用情况 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="alert bg-success" role="alert">
                        <span class="glyphicon glyphicon-check"></span> 不同的地理位置浏览器使用情况
                    </div>
                </div>
                <div class="panel-body">
                    <table id="history_location_browser" data-show-refresh="true"
                           data-show-toggle="true" data-show-columns="true"
                           data-search="true" data-pagination="true"
                           data-sort-order="desc">
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/.main-->

<script src="../resources/js/jquery-1.11.1.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap-table.js"></script>

<script
        src="../resources/tables/history-location-browser-table.js"></script>

<script>
    $(window).on('resize', function () {
        if ($(window).width() > 768)
            $('#sidebar-collapse').collapse('show')
        if ($(window).width() <= 767)
            $('#sidebar-collapse').collapse('hide')
    })
</script>

<script>
    $(function () {
        // 加载导航栏
        $("#common_navbar_page").load("common_navbar.html");
        // 加载侧边栏
        $("#common_sidebar_page").load("common_sidebar.html", function () {
            // 加载完了之后使当前项选中
            $("#sidebar_select_li_usual").addClass('active');
        });
        processLocationBrowser()
    });
</script>
</body>
</html>
