<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>荟萃日志分析--综合分析</title>

    <link href="../resources/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/datepicker3.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/bootstrap-table.css"
          rel="stylesheet">
    <link href="../resources/bootstrap/css/styles.css"
          rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="common_navbar_page"></div>
<div id="common_sidebar_page"></div>
<div id="integrated_location_page"></div>

<script src="../resources/js/jquery-1.11.1.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap.min.js"></script>
<script
        src="../resources/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="../resources/bootstrap/js/bootstrap-table.js"></script>

<script
        src="../resources/tables/history-location-browser-table.js"></script>

<script>
    $(window).on('resize', function () {
        if ($(window).width() > 768)
            $('#sidebar-collapse').collapse('show')
        if ($(window).width() <= 767)
            $('#sidebar-collapse').collapse('hide')
    })
</script>

<script>
    $(function () {
        // 加载导航栏
        $("#common_navbar_page").load("common_navbar.html");
        // 加载侧边栏
        $("#common_sidebar_page").load("common_sidebar.html", function () {
            // 加载完了之后使当前项选中
            $("#customeried_select_li").addClass('active');
        });
        // 加载表格部分
        $("#integrated_location_page").load("integrated_location_useragent.html", function () {
            processLocationBrowser()
        });
    });
</script>
</body>
</html>
