<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"
	id="location_useragent">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><span class="glyphicon glyphicon-home"></span>
			</a></li>
			<li class="active">地理位置综合分析</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">地理位置综合分析</h1>
		</div>
	</div>
	<!--/.row-->

	<!-- 不同的地理位置浏览器使用情况 -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="alert bg-success" role="alert">
						<span class="glyphicon glyphicon-check"></span> 不同的地理位置浏览器使用情况
					</div>
				</div>
				<div class="panel-body">
					<table id="history_location_browser" data-show-refresh="true"
						data-show-toggle="true" data-show-columns="true"
						data-search="true" data-pagination="true"
						data-sort-order="desc">
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<!--/.main-->
